<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart</title>
</head>
<body>
    
DATA SCIENCE Project Heart Disease


<form method="POST" action = "/predict">

<label> Age </label>
<input type ="text" name ='age'>

<label> Sex </label>
<input type ="text" name ='sex'>

<label> CP  </label>
<input type ="text" name ='cp'>

<label> trestbps </label>
<input type ="text" name ='trestbps'>

<label> chol </label>
<input type ="text" name ='chol'>

<label> fbs  </label>
<input type ="text" name ='fbs'>

<label> restecg </label>
<input type ="text" name ='restecg'>

<label> thalach </label>
<input type ="text" name ='thalach'>

<label> exang  </label>
<input type ="text" name ='exang'>

<label> oldpeak </label>
<input type ="text" name ='oldpeak'>

<label> slope </label>
<input type ="text" name ='slope'>

<label> ca  </label>
<input type ="text" name ='ca'>

<label> thal  </label>
<input type ="text" name ='thal'>

<input type="submit">

{{prediction}}



</form>

</body>
</html>